# Entorno virtual
venv/
env/

# Archivos de configuración del entorno
*.env

# Archivos de caché
__pycache__/
*.pyc
*.pyo

# Archivos de logs
*.log

# Directorios de caché
.cache/

# Archivos de dependencias locales
Pipfile.lock
poetry.lock

# Archivos de bases de datos
*.db

# IDEs y editores
.vscode/
.idea/

# Archivos y directorios generados
dist/
build/
